h2{
    text-decoration: underline red
}
.listapersonalizada li{
    list-style-type: none;
    background-image: url('https://emojitool.com/img/apple/ios-13.3/personal-computer-303.png');
    background-size: 20px;
    background-repeat: no-repeat;
    padding-left: 30px;
}